@font-face {
    font-family: font;
    src: url(Yomogi-Regular.ttf);
}

body {
    background-image: url(gifs/flowers.gif);
    background-size: 50px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-family: font;
    margin: 0px;
}

#main {
    min-width: 600px;
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#tiles {
    height: 115px;
    width: 100%;
    background-size: 100%;
    margin-bottom: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    background-image: url(images/greendots.jpg);
    position: sticky;
    top: 0;
}

.nav-button {
    font-family: font;
    font-size: large;
    font-weight: bolder;
    width: 100%;
    min-height: 50px;
    background: none;
    border: none;
    transition: 0.3s;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.current-page {
    background-color: rgba(255, 255, 255, 0.5);
}

#content {
    display: flex;
    flex-direction: row;
}

#sidebar {
    min-width: 200px;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(images/green.jpg);
    text-align: center;
}

#update {
    padding: 10px;
    background-image: url(images/paper.jpg);
    border-width:7px;
    border-style:solid;
    border-image: url("https://foollovers.com/mat/baf/heart/he32-012-c.gif") 7 fill round;
}

#update-body {
    background-image: url(images/paper.jpg);
    width: 70%;
    padding: 10px;
    border: 5px solid #ED64F5;
    border-image: url("gifs/corners2.gif") 30;
}

#update-link {
    font-size: large;
}

#img-49 {
    margin: 20px;
    width: 70%;
}

#side-links {
    border-width:7px;
    border-style:solid;
    border-image: url("https://foollovers.com/mat/baf/heart/he32-012-c.gif") 7 fill round;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.side-link {
    width: 100%;
    transition: 0.3s;
}

.side-link:hover {
    opacity: 0.8;
}

#body2 {
    background-image: url(images/paper.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#bears1 #bears2 {
    width: 50%;
}

#bears1 {
    margin-top: 50px;
    margin-bottom: -20px;
}

#bear-diag {
    height: 20px;
}

#stars {
    margin: 20px;
    width: 320px;
}

.body-text {
    margin-left: 80px;
    margin-right: 80px;
    font-size: larger;
}

#footer {
    background-color: #13092D;
    color: white;
    text-align: center;
}

.text-header {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.body-list {
    font-size: larger;
}

#mask {
    width: 60%;
    margin: 20px;
}

.trinket-display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.stamp, .blinky {
    margin: 10px;
    width: 200px;
}